*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1160px ;
    margin: 0 auto;
    padding: 0 15px;
}


/*Header style start*/

.header_header_nav{
    background: url(./img/intro.png);
    height: 800.6px;
}

.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 160px;
}


.header_info{
    display: flex;
    align-items: center;
/*    gap: 56px;*/
}


.header_a1{
    color: var(--Off-White, #F5F5F5);
    text-shadow: 0px 8px 16px rgba(35, 35, 64, 0.60);
    font-family: Lexend Deca;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-decoration-line: underline;
    padding-right: 56px;
}


.header_a2{
    display: flex;
    padding: 10px 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: rgba(84, 104, 231, 0.50);
}

.a2{
    color: var(--Off-white, #F5F5F5);
    text-align: center;
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

/*Header style end */




/*header_navstyle start*/


.header_nav{
    
}

.header_nav_block2{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 56px;
}


.header_nav_info2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.header_nav_h1{
    width: 563px;
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
}


.header_nav_p1{
    width: 397px;
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}


.header_nav_button{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}


.button1{
    display: flex;
    width: 298px;
    padding: 11px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 2px solid var(--Grayish-Blue, #D1ECFD);
    background: var(--Off-white, #F5F5F5);
}

.button1_p{
    color: var(--Desaturated-Blue, #7676B2);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; 
    letter-spacing: 0.14px;
    text-decoration: none;
}


.button2{
    display: flex;
    padding: 10px 44px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Soft-Blue, #5468E7);
}

.button2_p{
    color: var(--Off-white, #F5F5F5);
    text-align: center;
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}



/*header_nav style end*/

.main{
    background: var(--Off-White, #F5F5F5);
    margin-top: -120px;
}


/*Section style start*/

.chats_content{
    display: flex;
    align-items: center;
}

.chats_block_h1{
    color: var(--Dark-Blue, #232340);
    font-family: Lexend Deca;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    padding-bottom: 24px;
}


.chats_block_p{
    color: rgba(35, 35, 64, 0.90);
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 48px;
}


.task_today{
    border-radius: 3.724px;
    background: var(--primary-0, #FFF);
    box-shadow: 0px 13px 26px 0px rgba(118, 118, 178, 0.24);
    padding: 9px 9px;
}

.task_today_block{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}


.task_today_block_h1{
    color: var(--secondary-500, #141522);
    font-family: Plus Jakarta Sans;
    font-size: 5.214px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.104px;
}




.chats_block2_img{
    padding-bottom: 7px;
}

.chats_block2_name{
    padding-bottom: 7px;
}

.chats_block2_name_h1{
    color: var(--secondary-500, #141522);
    font-family: Plus Jakarta Sans;
    font-size: 5.958px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.119px;
    padding-bottom: 1px;
}


.chats_block2_name_p{
    color: var(--secondary-400, #54577A);
    font-family: Plus Jakarta Sans;
    font-size: 4.469px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.089px;
}


.chats_block2_progress{
    padding-bottom: 7px;
}

.chats_block2_progress_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chats_block2_progress_block_h1{
    color: var(--secondary-500, #141522);
    font-family: Plus Jakarta Sans;
    font-size: 5.958px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.119px;
}

.chats_block2_progress_block_p{
    color: var(--primary-500, #546FFF);
    font-family: Plus Jakarta Sans;
    font-size: 5.958px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.119px;
}

.chats_block2_deadline-student{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.chats_block2_deadline{
    display: flex;
    align-items: center;
}

.chats_block2_deadline_h1{
    color: var(--secondary-500, #141522);
    font-family: Plus Jakarta Sans;
    font-size: 4.958px;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: -0.119px;
    padding-left: 3px;
}

.chats_block2_student{
    display: flex;
    align-items: center;
}


.chats_block2_student_foto{
    border-radius: 74.479px;
    border: 0.559px solid var(--primary-0, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-right: -3px;
    width: 8.938px;
    height: 8.938px;
}

hr{
    background: #F5F5F7;
}


.chats_block2_name2{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 7px;
}

.chats_block2_name2_h1{
    color: var(--Dark-Blue, #232340);
    font-family: Plus Jakarta Sans;
    font-size: 5.958px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.119px;
}


.chats_block2_name2_p{
    color: var(--Desaturated-Blue, #7676B2);
    font-family: Plus Jakarta Sans;
    font-size: 4.469px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.089px;
}


.chats_block2_detail{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.chats_block2_detail3{
    display: flex;
    justify-content: space-between;
    padding-bottom: 21px;
}

.chats_block2_detail_nomber{
    border-radius: 3.724px;
    background: #F5F5F7;
    align-items: center;
}


.chats_block2_detail_nomber_h1{
    color: var(--secondary-500, #141522);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 5.214px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.104px;
}


.chats_block2_detail_h1{
    color: var(--secondary-500, #141522);
    font-family: Plus Jakarta Sans;
    font-size: 5.214px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.104px;
}


.chats_block2_button{
    padding: 4.469px 44.688px;
    border-radius: 3.724px;
    background: var(--Soft-Blue, #5468E7);
}

.chats_block2_button_h1{
    color: var(--Off-white, #F5F5F5);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 5.214px;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: -0.104px;
}

































.info_chats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    box-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}


.info_h1{
    color: var(--Dark-Blue, #232340);
    font-family: Lexend Deca;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    padding-bottom: 24px;
}

.info_p{
    color: rgba(35, 35, 64, 0.90);
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 48px;
}

.info_more{
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--Soft-Blue, #5468E7);
    align-items: center;
    padding-right: 40px;
    background: url(../team/img/svg/arrow_right.svg) no-repeat 100% center;
}


.info_choose{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    box-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}


.info_move{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 108px;
    box-align: center;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}


.calender{
    position: absolute;
    left: 289px;
    top: 24px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.profile_choose{
    position: absolute;
    left: 351px;
    top: 266px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.infor_choose{
    position: absolute;
    left: 351px;
    top: 359px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.move_pic, .choose_pic, .chat_pic{
    position: relative;
}


.pic{
    max-width: 565px;
    height: 565px;
}



.infor_move{
    position: absolute;
    left: 25px;
    top: 267px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.profile_move{
    position: absolute;
    left: 25px;
    top: 460px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.h1_people{
    color: var(--Dark-Blue, #232340);
    font-family: Lexend Deca;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    padding-bottom: 120px;
}


.carousel_info{
    padding-bottom: 164px;
}


.blocks_carousel{
    display: flex;
    padding-bottom: 48px;}


.block_carousel{
    margin-right: 30px;
    padding: 44px 33px;
    background: #fff;
}


.block_carousel2{
    margin-right: 30px;
    padding: 44px 33px;
    background: #fff;
    margin-bottom: 54px;
}


.block_carousel3{
    margin-right: 30px;
    padding: 44px 33px;
    background: #fff;
    margin-bottom: 27px;
}


.block_content{
    margin-bottom: 40px;
}


.content_p{
    color: rgba(35, 35, 64, 0.90);
    font-family: Lexend Deca;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 24px;
}


.carousel_name{
    display: flex;
    align-items: center;
}


.carousel_name_block{
    padding-left: 14px;
}


.name_block_h1{
    color: var(--Dark-Blue, #232340);
    font-family: Lexend Deca;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}


.name_block_p{
    color: var(--Desaturated-Blue, #7676B2);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px; 
    letter-spacing: 0.14px;
}


.info_arrows{
    padding-left: 981px;
}


.info_left{
    padding-right: 24px;
}

/*Section style end*/

.footer{
    background: var(--Dark-Blue, #232340);
}

/*footer style start*/


.footer_item{
    display: flex;
    padding-top: 73px;
    padding-bottom: 171px;
}


.footer_logo{
    width: 168px;
    margin-right: 80px;
}


.footer_logo_h1{
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px; 
    letter-spacing: 0.14px;
    padding-top: 16px;
}


.footer_blocks{
    display: flex;
    padding-top: 22px;
}

.footer_block{
    padding-right: 85px;
}


.footer_block2{
    padding-right: 63px;
}

.footer_block3{
    padding-right: 61px;
}


.footer_company_h1{
    color: var(--Soft-Blue, #5468E7);
    font-family: Lexend Deca;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 16px;
}


.footer_menu_item{
    list-style-type: none;
    padding-bottom: 12px;
}


.footer_menu_link{
    text-decoration: none;
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.14px;
}


.footer_company_p{
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.14px;
    margin-bottom: 10px;
}


.footer_block4_input{
    display: flex;
    justify-content: space-between;
    padding: 11px 16px;
    border-radius: 4px;
    background: rgba(245, 245, 245, 0.24);
}


.footer_block4_input_h1{
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.14px;
}



.footer_h1{
    color: var(--Off-white, #F5F5F5);
    font-family: Lexend Deca;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.14px;
    padding-bottom: 37px;
}








/*footer style end*/



